a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f2f2f7;
  color: #1c1c1e;
  text-align: center;
}
/* https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography#dynamic-type-sizes */
h1, .large-title {
  font-size: 34pt;
  line-height: 41pt;
  font-weight: 600;
}

h2, .title-1 {
  font-size: 28pt;
  line-height: 34pt;
  font-weight: 600;
}

h3, .title-2 {
  font-size: 22pt;
  line-height: 28pt;
  font-weight: 600;
}

h4, .title-3 {
  font-size: 28pt;
  line-height: 34pt;
  font-weight: 600;
}

h5, .headline {
  font-size: 17pt;
  line-height: 22pt;
  font-weight: 600;
}

h6, .subhead {
  font-size: 28pt;
  line-height: 34pt;
  font-weight: 600;
}

p, .body-text {
  font-size: 17pt;
  line-height: 22pt;
  font-weight: 400;
}

.callout {
  font-size: 16pt;
  line-height: 21pt;
  font-weight: 400;
}

.footnote {
  font-size: 13pt;
  line-height: 18pt;
  font-weight: 400;
}

caption, figcaption, .caption-1 , .caption {
  font-size: 12pt;
  line-height: 16pt;
  font-weight: 400;
}

.caption-2 {
  font-size: 11pt;
  line-height: 13pt;
  font-weight: 400;
}
/*******************************************/

.caption-3 {
  font-size: 8pt;
  line-height: 10pt;
  font-weight: 400;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f2f2f7;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 61.245px;
  border-top: 1px solid #c7c7cc
}

.buttonContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.tablinks {
  position: absolute;
  transform: translateX(-50%);
  bottom: 15.31125px;
}
.tablinks svg.svg-inline--fa {
  font-size: 17pt;
  line-height: 22pt;
  font-weight: 400;
  margin-bottom: 3px;
}
.tablinks:nth-child(1) {
  left: 25%;
}

.tablinks:nth-child(2) {
  left: 50%;
}

.tablinks:nth-child(3) {
  left: 75%;
}

/* Style the buttons inside the tab */
.tablinks {
  color: #aeaeb2;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.25s;
}

.tablinks span {
  font-size: 13pt;
  line-height: 18pt;
}

/* Create an active/current tablink class */
.tab button.active {
  /* background-color: #d1d1d6; */
  color: #007aff;
}
#holidays, #settings {
  display:none;
}
.jumbotron {
  background-color: #f9f9fc;
  height:200px;
  position: relative;
}
.jumbotron h1 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-weight: 700;
  vertical-align: bottom;
}
.body {
  padding: 25px;
  padding-bottom: 76.0375px;
}
#img-rayyan, #img-family img {
  max-width: calc(100vw - 50px);
  width: 350px;
}
ol {
  list-style: inside;
  list-style-type: decimal;
  margin-left: 5px;
}
ul {
  list-style: inside;
  list-style-type: disc;
  margin-left: 5px;
}

a {
  color: #007aff
}

.jumbotron .logo {
  content: url('/images/icon.png');
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  left:25px;
}

#holiday-home {
  height: calc(100vh - 261.245px);
  vertical-align: middle;
}

.holiday-card {
  height: calc(100vh - 61.245px);
  vertical-align: middle;
}

.settings-list {
  background-color: rgb(229, 229, 234);
  position: relative;
  border-top: 1px solid #c7c7cc;
  width: 100vw;
  height: 64px;
}

.settings-list:first-child {
  border-top: none;
}

.settings-text {
  position: absolute;
  top: 50%;
  margin-left: 50px;
  transform: translateY(-50%);
}

#sectionsButton::after {
  content: "\f054";
  position: absolute;
  font-family: "Font Awesome 5 Solid";
  display: none;
}

#themeButton select {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.settings-list svg.fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%)
}

#sectionsSettings {
  display: none;
}

#themeSettings {
  display: none;
}





.body.full-width {
  padding-left: 0;
  padding-right: 0;
}

button {
  text-decoration: none;
}

/* Dark Mode */
  .dark .tab {
    /* background-color: #2c2c2e; */
    background-color: #1c1c1e;
    border-top-color: #48484a;
  }
  body.dark {
    background-color: #1c1c1e;
    color: #f2f2f7;
  }
  .dark .tab button {
    color: #636366;
  }
  .dark .tab button.active {
    /* background-color: #3a3a3c; */
    color: #007aff;
  }
  .dark a {
    color: #007aff;
  }
  .dark .jumbotron {
    background-color: #0e0e0f;
  }
  .dark .settings-list {
    background-color: rgb(44, 44, 46);
    border-top-color: #48484a;
  }

